/* components/AboutUs.css */
.about-us-container {
    padding: 20px;
    color: white;
    font-family: 'Muli', sans-serif;
  }
  
  .about-us-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-us-subtitle {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .about-us-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  