
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001735; /* Dark blue background */
    color: white;
    padding: 2rem 2rem 0.005rem;
  }
  

   .navbar-khanda {
    height: 35px; /* or the size you prefer */
    margin-right: 10px;
    vertical-align: middle; /* To align it with your text */
  }
  
  .navbar-logo {
    font-size: 1rem;
    font-weight: normal;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .nav-link {
    text-decoration: none;
    color: #F5E4AF;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #f0f0f0;
    color: #0A2342;
    border-radius: 5px;
  }
  