.culture-button {
    width: 230px;
    height: 150px;
    background-color: #29404E; /* Set to the color you specified */
    border: none;
    color: white;
    padding: 0; /* Padding removed because we are absolutely positioning elements */
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Needed for absolute positioning of children */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 24px;
    transition: background-color 0.3s ease;
    border-radius: 10px; /* Optional: if you want rounded corners */
    overflow: hidden; /* Ensures nothing spills outside the border-radius */
  }
  
  .culture-button:hover {
    background-color: #34495e;
  }
  
  .culture-flag {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* Center the flag */
  }
  
  .culture-button > span {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    width: 100%;
    text-align: center;
  }
  