@import url('https://fonts.googleapis.com/css?family=Muli');

.home-header {
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    align-items: center;
    padding: 20px; 
    color: white; 
    font-family: Muli, sans-serif, extra-bold;
  }
  
  .home-header h1 {
    max-width: 600px;
    font-size: 2.5em; 
    margin-bottom: 0.5em; 
  }
  
  .home-header p {
    max-width: 600px;
    font-size: 1em;
    margin-bottom: 1em; 
  }
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Adjust the gap between the text and the image */
  }
  
  .text-container {
    flex: 1; /* Takes up the remaining space */
    max-width: 600px; /* Or whatever maximum width you want for the text */
  }
  
  .image-container img {
    width: 100%; /* Adjust width as necessary */
    max-width: 600px; /* Maximum size of the image */
    height: auto; /* Keep the aspect ratio of the image */
  }
  
  
  .join-button {
    padding: 10px 20px;
    font-size: 1em;
    font-family: Muli, sans-serif, bold;
    background-color: #FCCD00; 
    color: #102733;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
  }
  
  .join-button:hover {
    background-color: #fcce00bf; 
  }
  
  