.location-indicator {
    display: inline-flex;
    align-items: center;
    background-color: #e6e6e6; 
    border-radius: 5px; 
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer; 
    margin-left: 5px; 
    color: black;
  }
  
  .location-text {
    margin-right: 5px; 
    transition: text-decoration 0.3s ease; 
  }
  
  .location-indicator:hover .location-text {
    text-decoration: underline; 
  }

  .edit-icon {
    height: 1em; 
  }
  

  